
.grid {
  /* элементы */
  position: absolute;
  /* width: 400px;
  height: 464px; */
  left: 297px;

}

.grid__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

  width: 236px;
  height: 86px;
  margin: 12px 167px;

  flex: none;
  order: 1;
  flex-grow: 0;


}

.grid__event {
  position: relative;
  margin-bottom: 67px;
  height: 110px;
  display: flex;
  flex-direction: row;
}


.grid__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background-color: black;
  
}


.grid__font {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
}


.map {
  width: 752px;
  height: 493px;
  margin-left: 875px;
}


.about__section-title{
margin-top:200px;	
}
